fastapi==0.103.1
uvicorn==0.34.2
pydantic==2.11.4
pydantic-settings==2.0.3
python-dotenv==1.1.0
psycopg2-binary==2.9.7
SQLAlchemy==2.0.20
pandas
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
xgboost==3.0.1
yellowbrick==1.5
pillow==11.2.1
typer==0.15.3
